<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="./css/style.css">
     <link rel='icon' href="/img/weather.png">
    <title>Weather</title>
</head>
<body>
    
    {{!-- <h1>{{title}}</h1> --}}
    <div class="main-content">
    {{>header}}
    <h2>{{help_msg}}</h2>
    <p>This website was created with the help of third party API's such as Weatherstack and Mapbox. For more details refer their websites.</p>
    <p>Have fun !!</p>
    </div>
  
    {{>footer}}
</body>
</html>